.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
<<<<<<< HEAD
  width: 70px;
=======
  width: 60px;
>>>>>>> 3103687aacd418ce579fe81dcaab172dd83d7eba
}
